---
import Layout from "../../../../layouts/Layout.astro";
import BlogPost from "../../../../components/blog/BlogPost.astro";
import Heading from "../../../../components/ui/Heading.astro";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  languages: string[];
  title: string;
  pubDate: string;
  tags: string[];
  image: string;
}
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const languages = ["es", "en"];
  let paths = [];

  for (const lang of languages) {
    // Filter posts for this language
    const langPosts = allPosts.filter((post) => {
      const [postLang] = post.slug.split("/");
      return postLang === lang;
    });

    const uniqueCategories = [
      ...new Set(langPosts.map((post) => post.data.languages || []).flat()),
    ];

    const langPaths = uniqueCategories.map((category) => {
      const filteredPosts = langPosts.filter((post) =>
        (post.data.languages || []).includes(category)
      );
      return {
        params: { lang, category },
        props: { posts: filteredPosts },
      };
    });

    paths = paths.concat(langPaths);
  }

  return paths;
}

const { category, lang } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={category}>
  <section class="py-8">
    <div class="flex flex-col gap-8 max-w-4xl mx-auto">
      <Heading text="Posts about" textGradient={category} />

      {
        posts.map((post) => {
          const [_, ...slugParts] = post.slug.split("/");
          const cleanSlug = slugParts.join("/");
          return (
            <BlogPost
              url={`/${lang}/blog/posts/${cleanSlug}`}
              title={post.data.title}
              date={post.data.pubDate}
              tags={post.data.tags}
              languages={post.data.languages}
              image={post.data.image}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
